@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

.atlas_logo {
  width: 15%;
  position: relative;
  top: 180px;
  left: 42%;
}

.login_form {
  background-color: #FFF;
  border-radius: 10px;
}

.text_red {
  font-size: 8px;
  white-space: nowrap;
  color: #D9544C;
}

/* サイドバー */
.sidebar {
  width: 200px;
  height: auto;
  background-color: #03AAD2;
  font-weight: bold;
}

.icon_items {
  width: 25px;
  height: 25px;
}

.sidebar p {
  margin: 10px 0 0 10px;
}

.main-container {
  width: 100%;
  background-color: #ECF1F6;
}

.sidebar p a {
  color: #FFF;
}

/* トップページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.calendar td a {
  color: #212529;
}

.calendar td.day-sat a {
  color: #0000FF;
}

.calendar td.day-sun a {
  color: #FF0000;
}

.day {
  margin-bottom: -3px;
}


.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.calendar_title {
  text-align: center;
}

.calendar {
  margin-bottom: 10px;
}

.calendar_back {
  width: 85%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
}

.Registration_button {
  margin-top: 10px;
}

.day_part {
  color: #494949;
  font-size: 12px;
}

.adjust-table {
  width: 100% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 100%;
}


/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.cancel_detail {
  font-size: 18px;
  display: flex;
  flex-flow: column;
}

.cancel_detail p {
  position: relative;
  top: 50px;
  left: 16%;
}

.modal_buttons {
  display: flex;
  margin: auto;
}

.cancel_button {
  display: inline-block;
  width: 160px;
  position: relative;
  top: 50px;
  left: 100%;
}

.close_button {
  display: inline-block;
  width: 160px;
  position: relative;
  top: 50px;
  left: 40%;
}

/* 掲示板 */
.sub_categories {
  display: none;
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
}

.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: #D9544C;
}

/* アコーディオン */
.accordion-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
}

.accordion-title {
  font-weight: bold;
}

/* 掲示板トグル */
/* 矢印：初期は下向き（右矢印を90度回転） */
.arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 1.2rem;
  transform: rotate(90deg);
  margin-right: 10px;
}

/* 開いたときは上向き（-90度） */
.accordion-toggle.open .arrow-icon {
  transform: rotate(-90deg);
}

/* ユーザー検索トグル */
.search_conditions.open .arrow-icon {
  transform: rotate(-90deg);
}

/* ユーザー詳細トグル */
.select_subject .arrow-icon {
  transition: transform 0.3s ease;
  font-size: 1.2rem;
  transform: rotate(90deg);
  color: #03AAD2;
}

/* 開いたときは上向き（-90度） */
.subject_edit_btn.open .arrow-icon {
  transform: rotate(-90deg);
}

.sub-category-list {
  display: none;
  margin: 0;
  padding: 0;
}

.sub-category-list li {
  border-bottom: 1px solid #ddd;
  padding-left: 1rem;
}

/* 予約キャンセルモーダル */
.content {
  margin: 0 auto;
  padding: 40px;
}

.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 350px;
}


.post_view {
  overflow: scroll;
}

/* 掲示板 詳細画面 */
.post_detail {
  color: #000;
}

.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

.subcategory {
  height: 26px;
  width: fit-content;
  text-align: center;
  color: #fff;
  background-color: #03AAD2;
  border-radius: 5px;
}

.subcategory span {
  margin: 0 5px 0 5px;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.post_status span {
  font-size: 12px;
}

/* 掲示板　カテゴリー */
.post_items {
  margin-top: 25px;
  color: #696D71;
}

.post_create {
  width: 100%;
  height: 40px;
  background-color: #03AAD2;
  border-radius: 10px;
  margin-bottom: 20px;
}

.post_create a {
  padding: 7px 0 5px 0;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  display: block;
  color: #fff;
}

.keyword_alae {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.keyword {
  width: 75%;
  height: 40px;
  background-color: #ECF1F6;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
}

.keyword_done {
  width: 25%;
  height: 40px;
  color: #fff;
  background-color: #03AAD2;
  border: none;
  border-radius: 0 10px 10px 0;
  margin-left: -5px;
}

.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.liked_btn {
  width: 49%;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #E38EAB;
  color: #FFF;
}

.mypost_btn {
  width: 49%;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  background: #EBBC5D;
  color: #FFF;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

.category_items {
  color: #696D71;
}

.subcategory_items {
  display: inline-block;
  width: 90%;
  color: #696D71;
  border: none;
  background-color: #ECF1F6;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  border-radius: 5px;
  gap: 0.8rem;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 230px;
  height: 230px;
  background-color: #FFF;
  border-radius: 10px;
}

.user_detail {
  margin: 20px 0 15px 20px;
}

.user_detail div {
  margin-bottom: 5px;
}

.search_items {
  width: 100%;
  color: #497AA9;
  margin-top: 5px;
}

.search_detail {
  margin: 60px 0 0 10px;
}

.free_word {
  width: 80%;
  height: 50px;
  background-color: #E0E5E9;
  border: none;
  border-radius: 10px;
}

.category_select {
  width: 30%;
  height: 40px;
  background-color: #E0E5E9;
  border: none;
  border-radius: 10px;
}

.updown_select {
  width: 30%;
  height: 40px;
  background-color: #E0E5E9;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

.engineer {
  width: 30%;
  height: 40px;
  background-color: #E0E5E9;
  border: none;
  border-radius: 10px;
}

.search_conditions {
  width: 80%;
  border-bottom: 2px solid #ccc;
  display: flex;
}

.search_conditions span {
  cursor: pointer;
}

.search_container {
  margin: 10px 0 10px 15px;
}

.search_conditions_inner {
  display: none;
}

.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
  display: flex;
}

.subject_inner .subject_box {
  margin: 6px 10px 0 10px;
}

.search_button {
  width: 80%;
  height: 50px;
  color: #fff;
  background-color: #03AAD2;
  border-radius: 10px;
  border: none;
}

.reset_button {
  width: 80%;
  background-color: #ECF1F6;
  font-size: 24px;
  color: #03AAD2;
  border: none;
  margin-top: 20px;
}

/* ユーザー詳細 */

.subject_edit_btn {
  font-size: 14px;
  color: #03AAD2;
}
